/* Styles for the container */
.account-container {
  max-width: 82%; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the card */
.account-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #b1b2b2;
  padding: 20px;
}

/* Styles for the table */
.account-table-container {
  overflow-x: auto;
}

.account-table {
  width: 100%;
  border-collapse: collapse;
}

.account-table th, .account-table td {
  border: 1px solid #fafafa;
  padding: 8px;
  text-align: left;
}

.account-table th {
  background-color: #dddbdb;
}

.account-table tbody tr:nth-child(even) {
  background-color: #f2f0f0;
}

/* Styles for form inputs */
.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #f8cdcd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Styles for buttons */
.btn {
  background-color: #f7f8f8;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #eef3ee;
}

.icon-group {
  display: flex;
  align-items: center;
}

.icon-group button {
  margin-right: 10px; /* Adjust as needed for spacing between icons */
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  .account-table th, .account-table td {
    padding: 6px;
  }
}

.password{
  display: flex;
  align-items: center;
  justify-content: space-between;
}